body{

	
	background-color: #DCDCDC;
}

.container{
	
	background-color: #F8F8FF;
	border: 1px solid #A9A9A9;
	width: 400px;
	height: 290px;
	margin-left: 450px;

}
h1{
text-align: center;
color: #008B8B;
font-family: arial;
}
hr{
	width: 300px;
	text-align: center;
	color: #008B8B;
	background: linear-gradient(to right, #DCDCDC,#008B8B,#008B8B,#008B8B,#DCDCDC);
    height: 1px;
    border:0px;
}

.l1,.l2,.l3,.l4{
 margin-left: 10px;
 font-size: 14px;
 font-family: arial;

}


.campo1,.campo2{
margin-left: 10px;
width: 350px;
 font-size: 14px;
 font-family: arial;
}


.logado{
 margin-left: 10px;
 background-color: powderblue;
 height: 30px;
 width: 352px;

 font-family: arial;
}

.cabecalho{
	background-color: #D3D3D3;
	height: 56px;

}
p {
	text-align:center; 
}
.botao{
	background-color: white;
	color: #00CED1;
	padding: 4px;
	margin: 10px;
 	font-family: arial;
}

 